# Ignore node_modules, as they will be installed inside the container
node_modules/

# Ignore local development logs and files
npm-debug.log
.DS_Store
.env

# Ignore build artifacts if they exist locally
dist/
build/

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore generated PDFs - they will be created inside the volume
server/generated/ 